@{
    ViewData["Title"] = "Home Page";
}
  <style>
        body, html {
            width: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

  
   
<style>
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #E0BD9F;
        color: white;
        border-radius: 50%; /* Make the buttons circular */
        padding: 15px; /* Add some padding for better appearance */
    }

    .carousel-control-prev-icon::before,
    .carousel-control-next-icon::before {
        content: '\2039'; /* Use the Unicode character for left-pointing arrow (‹) */
        font-size: 24px; /* Adjust the size of the arrow */
    }

    .carousel-control-next-icon::before {
        content: '\203A'; /* Use the Unicode character for right-pointing arrow (›) */
    }
</style>

@if (ViewBag.AlertMessage != null)
{
    <script>alert('@ViewBag.AlertMessage');</script>
}
@if (ViewBag.AlertMessage_Desinicio != null)
{
    <script>alert('@ViewBag.AlertMessage_Desinicio');</script>
}
<div class="container carousel-container">
    <div id="carouselExampleAutoplaying" class="carousel slide carousel-fotos" data-bs-ride="carousel">
        <div class="carousel-inner" style="text-align: center; width: 100%;">
            @{
                bool Activo = true;
                @foreach (Receta item in ViewBag.RecetasCarrusel)
{
    <div class='carousel-item @(Activo == true ? "active" : "")'>
        <div class="row">
            <div class="col-md-6">
                <img src="@item.Imagen" class="d-block w-100" alt="...">
            </div>
            <div class="col-md-6" style="background-color: #FFF5EC !important; padding: 20px;">
                <div style="background-color: #E0BD9F; padding: 10px; margin-bottom: 10px;">
                    <h1>@item.Titulo</h1>
                </div>
                <div>@item.Descripcion</div>
                <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 200px; background-color: #e4cdb9">
                    <div><i class="fa-solid fa-dollar-sign" style="font-size: 20px;"></i> @item.Precio</div>
                    <div><i class="fa-solid fa-person" style="font-size: 20px;"></i> @item.CantidadPersonas</div>
                    <div><i class="fa-solid fa-clock" style="font-size: 20px;"></i> @item.Tiempo</div>
                </div>
            </div>
        </div>
    </div>
    Activo = false;
}

            }
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="false"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="false"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>



<div class="text-center" style="background-color: #FFF2E7; margin: 0; padding: 0; justify-content: center; align-items: center; text-align: center;">
    <section style="margin-top: 50px; max-width: 3300px">
        <div class="row" style="padding-left: 250px; width: 2500px;">
            @{
                List<string> coloresFondoCards = new List<string> { "#FFD4E4", "#ECECA9", "#D6E6E5", "#A8916E" };
                List<string> coloresBordeCards = new List<string> { "#FFD4E4", "#ECECA9", "#D6E6E5", "#A8916E" };
                List<string> coloresFondoTitulos = new List<string> { "#FFC3EB", "#FEFEB0", "#ADCDCB", "#847157" };

                for (int i = 0; i < ViewBag.Card_principal.Count; i++)
                {
                    <div class="col-md-2 col-10">
                        <div class="card" style="background-color: @(coloresFondoCards[i % coloresFondoCards.Count]); border: solid @(coloresBordeCards[i % coloresBordeCards.Count]) 3px; max-width: 250px; margin: 20px; padding: 20px;">
                            <a href='@Url.Action("Listado_Recetas", new{IdCategoria=@ViewBag.Card_principal[i].IdCategoria}) '><img src="@ViewBag.Card_principal[i].Imagen" class="card-img-top" alt="ll" style="height: 200px; object-fit: cover;"></a>
                            <div class="card-body text-center">
                                <h5 class="card-title" style="background-color: @(coloresFondoTitulos[i % coloresFondoTitulos.Count]); color: black;">@ViewBag.Card_principal[i].NombreCategoria</h5>
                                
                            </div>
                        </div>
                    </div>
                    @if ((i + 1) % 4 == 0)
                    {
                        <div class="w-100"></div>
                    }
                }
            }
        </div>
    </section>
</div>
